<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div id="ob-main-logo">
        {{ site.title }}
    </div>

    <div id="ob-main-line"></div>

    <div id="ob-menu-toggler">
        <span>
            <ul class="ob-page-menu">
                <li><a href="#/help">допомога</a></li>
                <li class="ob-primary-menu-toggler">меню</li>
            </ul>
        </span>
        <div class="ob-stripes ob-primary-menu-toggler">
            <div class="ob-stripe"></div>
            <div class="ob-stripe"></div>
            <div class="ob-stripe"></div>
        </div>
    </div>

    {% include menu.html %}

    {{ content }}

</body>
</html>